@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.md-wrapper::after {
    position: absolute;
    top: 16px;
    left: 14px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fc625d;
    -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    content: ' ';
}

::-webkit-scrollbar {
    width: .5rem;
    height: .5rem
}

::-webkit-scrollbar-track {
    border-radius: 2em
}

::-webkit-scrollbar-thumb {
    background-color: #322d31;
    background-image: -webkit-linear-gradient(45deg, hsla(0, 0%, 100%, .4) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, .4) 0, hsla(0, 0%, 100%, .4) 75%, transparent 0, transparent);
    border-radius: 2em
}

::-webkit-scrollbar-corner {
    background-color: transparent
}

::-webkit-scrollbar-track-piece {
    background-color: #222;
}

@keyframes gradientBG {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.animate-gradientBG {
    background-size: 300% 300%;
    animation: gradientBG 10s ease infinite;
}

.hover-image {
    transition: filter 375ms ease-in 0.2s, transform 0.6s;
}


@layer components {
    .menu-underline {
        @apply before:w-0 before:absolute before:h-[0.1875rem] before:bg-white before:-bottom-[0.3rem] before:rounded-[0.125rem] before:left-[50%] before:-translate-x-1/2 before:transition-all before:ease-in-out before:duration-500
    }

    .archive-circle-lg {
        @apply before:absolute before:top-[14px] before:-left-2 before:z-[1] before:w-[18px] before:h-[18px] before:border-solid before:border-[5px] before:border-blue-300 before:rounded-[10px] before:leading-[10px]
    }

    .archive-circle-md {
        @apply before:absolute before:top-[55px] before:-left-[26px] before:bg-[#222] before:z-[1] before:w-[10px] before:h-[10px] before:border-solid before:border-[3px] before:border-blue-300 before:rounded-[6px] before:leading-[10px]
    }

    .archive-pipe {
        @apply after:absolute after:bottom-0 after:left-0 after:-z-10 after:w-[2px] after:h-[1.5rem] after:bg-blue-300
    }
}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .clip-image-lb {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
    }

    .clip-image-rt {
        clip-path: polygon(0 0, 92% 0, 100% 100%, 0 100%);
    }

    .clip-image-br {
        clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
    }

    .clip-image-bl {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
    }

    .shadow-around {
        box-shadow: 0 0.625rem 1.875rem -0.9375rem #000;
    }

    .shadow-around-hover {
        box-shadow: 0 0 1.5rem #000;
    }

    /* animation */
    .-animate-delay-2 {
        animation-delay: -2s;
    }

    .-animate-delay-3 {
        animation-delay: -3s;
    }

    .-animate-delay-4 {
        animation-delay: -4s;
    }

    .-animate-delay-5 {
        animation-delay: -5s;
    }

    .animate-duration-7 {
        animation-duration: 7s;
    }

    .animation-duration-10 {
        animation-duration: 10s;
    }

    .animate-duration-13 {
        animation-duration: 13s;
    }

    .animate-duration-20 {
        animation-duration: 20s;
    }
}