@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

.md-wrapper::after {
    position: absolute;
    top: 16px;
    left: 14px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fc625d;
    -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    content: ' ';
}

#root {
    min-height: 100%;
}